# Dependencies
node_modules
.pnp
.pnp.js

# Expo
.expo
.expo-shared
dist
dist-ssr

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode
.idea
*.swp
*.swo
*~
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
ios
android
.gradle
.m2
*.keystore
*.jks

# Testing
coverage

# Misc
.watchmanconfig
*.log
